.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/productimage.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 294px 543px 0 0}
.u-section-1 .u-text-2 {font-weight: 700; font-size: 1.5rem; margin: 40px auto 60px 9px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {margin-right: 363px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 239px}
.u-section-1 .u-text-1 {width: auto; margin-right: 117px}
.u-section-1 .u-text-2 {margin-left: 0} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 541px}
.u-section-2 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 452px; pointer-events: auto}
.u-section-2 .u-container-layout-1 {padding: 30px 60px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 0}
.u-section-2 .u-text-2 {margin: 34px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 373px} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {font-size: 1.5rem} }.u-section-3 .u-sheet-1 {min-height: 710px}
.u-section-3 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 590px; pointer-events: auto}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-image-1 {width: 614px; height: 603px; margin: 12px auto 0 -70px}
.u-section-3 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-3 .u-container-layout-2 {padding: 30px 60px 30px 65px}
.u-section-3 .u-image-2 {width: 223px; height: 118px; margin: 32px auto 0 0}
.u-section-3 .u-text-1 {font-weight: 700; margin: -56px 89px 0 auto}
.u-section-3 .u-text-2 {margin: 39px auto 0 0}
.u-section-3 .u-text-3 {margin: 46px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 481px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 486px; background-position: 50% 50%}
.u-section-3 .u-image-1 {width: 350px; height: 344px; margin-left: 0}
.u-section-3 .u-layout-cell-2 {min-height: 486px}
.u-section-3 .u-image-2 {width: 173px; height: 91px}
.u-section-3 .u-text-1 {margin-top: -29px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 367px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-image-1 {width: 300px; height: 295px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 653px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 446px}
.u-section-3 .u-text-1 {width: auto; margin-top: -26px; margin-right: 64px}
.u-section-3 .u-text-2 {margin-top: 36px} }.u-section-4 .u-sheet-1 {min-height: 592px}
.u-section-4 .u-layout-wrap-1 {pointer-events: auto; margin: 7px 0 23px}
.u-section-4 .u-layout-cell-1 {min-height: 572px; pointer-events: auto}
.u-section-4 .u-container-layout-1 {padding: 55px 0 0}
.u-section-4 .u-text-1 {font-weight: 700; margin: 0 0 0 190px}
.u-section-4 .u-text-2 {font-weight: 700; margin: -79px -361px 0 552px}
.u-section-4 .u-image-1 {width: 172px; height: 91px; margin: -91px 142px 0 auto}
.u-section-4 .u-text-3 {margin: 19px 60px 0}
.u-section-4 .u-text-4 {background-image: none; margin: -17px 60px 0 516px}
.u-section-4 .u-image-2 {width: 492px; height: 484px; margin: -484px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 625px}
.u-section-4 .u-layout-wrap-1 {margin-bottom: 70px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 472px}
.u-section-4 .u-text-1 {height: 79px; margin-top: 113px}
.u-section-4 .u-image-1 {margin-top: -22px}
.u-section-4 .u-text-3 {margin-top: -47px}
.u-section-4 .u-text-4 {margin-top: -81px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 509px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-top: 30px}
.u-section-4 .u-text-1 {margin-top: 72px}
.u-section-4 .u-image-1 {margin-top: 42px}
.u-section-4 .u-text-3 {margin-top: -111px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 799px}
.u-section-4 .u-text-1 {margin-top: 42px}
.u-section-4 .u-image-1 {margin-top: 106px}
.u-section-4 .u-text-3 {margin-top: -254px}
.u-section-4 .u-text-4 {margin-top: -2px; margin-right: 0; margin-left: 396px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 588px}
.u-section-4 .u-text-1 {margin-top: 11px}
.u-section-4 .u-image-1 {margin-top: 394px}
.u-section-4 .u-text-3 {margin-top: -410px}
.u-section-4 .u-text-4 {margin-top: -121px; margin-left: 196px}
.u-section-4 .u-image-2 {width: 340px; height: 334px} }.u-section-5 .u-sheet-1 {min-height: 871px}
.u-section-5 .u-text-1 {font-size: 3.75rem; margin: 61px 2px 0}
.u-section-5 .u-image-1 {width: 182px; height: 84px; margin: -84px 399px 0 auto}
.u-section-5 .u-list-1 {width: 588px; min-height: 430px; grid-template-rows: auto auto auto; grid-template-columns: 100%; grid-gap: 10px 10px; margin: 20px auto 0 -7px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-icon-1 {height: 64px; width: 64px; margin: 0 444px 0 20px}
.u-section-5 .u-text-2 {font-weight: 700; margin: -64px 0 0 115px}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-icon-2 {height: 64px; width: 64px; margin: 0 444px 0 20px}
.u-section-5 .u-text-3 {font-weight: 700; margin: -64px 0 0 115px}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-icon-3 {height: 64px; width: 64px; margin: 0 444px 0 20px}
.u-section-5 .u-text-4 {font-weight: 700; margin: -64px 0 0 115px}
.u-section-5 .u-list-2 {width: 560px; min-height: 430px; grid-template-rows: auto auto auto; grid-template-columns: 100%; grid-gap: 10px 10px; margin: -430px 0 0 auto}
.u-section-5 .u-container-layout-4 {padding: 30px}
.u-section-5 .u-icon-4 {height: 64px; width: 64px; margin: 6px 20px 0}
.u-section-5 .u-text-5 {font-weight: 700; margin: -64px 0 0 115px}
.u-section-5 .u-container-layout-5 {padding: 30px}
.u-section-5 .u-icon-5 {height: 64px; width: 64px; margin: 6px 20px 0}
.u-section-5 .u-text-6 {font-weight: 700; margin: -64px 0 0 115px}
.u-section-5 .u-container-layout-6 {padding: 30px}
.u-section-5 .u-icon-6 {height: 64px; width: 64px; margin: 6px 20px 0}
.u-section-5 .u-text-7 {font-weight: 700; margin: -64px 0 0 115px}
.u-section-5 .u-image-2 {width: 1095px; height: 193px; margin: 31px auto 60px 2px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 904px}
.u-section-5 .u-image-1 {margin-top: -97px}
.u-section-5 .u-list-1 {height: auto}
.u-section-5 .u-list-2 {height: auto}
.u-section-5 .u-image-2 {width: 940px; height: 166px; margin-left: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 867px}
.u-section-5 .u-image-1 {margin-top: -60px}
.u-section-5 .u-image-2 {width: 720px; height: 127px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 836px}
.u-section-5 .u-image-1 {margin-top: -29px; margin-right: 358px}
.u-section-5 .u-list-1 {width: 540px; margin-left: 0}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-icon-1 {margin-left: 16px; margin-right: 440px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-icon-2 {margin-left: 16px; margin-right: 440px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-icon-3 {margin-left: 16px; margin-right: 440px}
.u-section-5 .u-list-2 {width: 540px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-2 {width: 540px; height: 95px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 802px}
.u-section-5 .u-text-1 {font-size: 2.25rem}
.u-section-5 .u-image-1 {margin-top: 197px; margin-right: 158px}
.u-section-5 .u-list-1 {width: 340px; margin-top: -323px}
.u-section-5 .u-icon-1 {margin-left: 0; margin-right: 256px}
.u-section-5 .u-icon-2 {margin-left: 0; margin-right: 256px}
.u-section-5 .u-icon-3 {margin-left: 0; margin-right: 256px}
.u-section-5 .u-list-2 {width: 340px}
.u-section-5 .u-image-2 {width: 340px; height: 60px; margin-top: 20px; margin-bottom: 0} }.u-section-6 {background-image: none; min-height: 538px}
.u-section-6 .u-layout-wrap-1 {width: 1140px; margin: 40px auto 10px}
.u-section-6 .u-layout-cell-1 {min-height: 218px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 4.5rem; margin: 9px auto 0}
.u-section-6 .u-layout-cell-2 {min-height: 270px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-text-2 {font-weight: 700; font-size: 1.5rem; margin: -26px 0 0}
.u-section-6 .u-btn-1 {border-style: none; text-transform: uppercase; font-size: 1.125rem; animation-duration: 1000ms; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); background-image: none; font-weight: 700; margin: 57px auto 0; padding: 8px 27px 8px 26px} 

@media (max-width: 1199px){ .u-section-6 {min-height: 750px}
.u-section-6 .u-layout-wrap-1 {width: 940px; margin-left: calc(((100% - 940px) / 2) + 99px)}
.u-section-6 .u-layout-cell-1 {min-height: 180px}
.u-section-6 .u-layout-cell-2 {min-height: 223px}
.u-section-6 .u-text-2 {margin-top: 0}
.u-section-6 .u-btn-1 {font-size: 1.875rem; margin-top: 65px; margin-bottom: -37px} }

@media (max-width: 991px){ .u-section-6 {min-height: 1137px}
.u-section-6 .u-layout-wrap-1 {width: 720px; margin-left: auto}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 {min-height: 2149px}
.u-section-6 .u-layout-wrap-1 {width: 540px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 {min-height: 1407px}
.u-section-6 .u-layout-wrap-1 {width: 340px; margin-top: 550px; margin-bottom: 60px}
.u-section-6 .u-text-1 {font-size: 3rem; margin-top: 0; margin-left: 0; margin-right: 0} }.u-section-7 {min-height: 495px}
.u-section-7 .u-text-1 {margin: 60px 0 0}
.u-section-7 .u-text-2 {font-size: 1.25rem; font-weight: 700; width: 680px; margin: 80px auto 0}
.u-section-7 .u-btn-1 {background-image: none; border-style: none; font-weight: 700; font-size: 1.125rem; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 60px auto 60px calc(((100% - 1140px) / 2) + 477px); padding: 12px 53px 12px 52px} 

@media (max-width: 1199px){ .u-section-7 .u-text-1 {width: 680px; margin-right: calc(((100% - 1140px) / 2) + 30px); margin-left: calc(((100% - 1140px) / 2) + 430px)}
.u-section-7 .u-text-2 {margin-right: calc(((100% - 1140px) / 2) + 30px); margin-left: calc(((100% - 1140px) / 2) + 430px)}
.u-section-7 .u-btn-1 {margin-left: 459px; width: 186px} }

@media (max-width: 991px){ .u-section-7 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + -190px); margin-left: calc(((100% - 1140px) / 2) + 650px)}
.u-section-7 .u-text-2 {margin-right: calc(((100% - 1140px) / 2) + -190px); margin-left: calc(((100% - 1140px) / 2) + 650px)} }

@media (max-width: 767px){ .u-section-7 .u-text-1 {width: 540px; margin-right: calc(((100% - 1140px) / 2) + -300px); margin-left: calc(((100% - 1140px) / 2) + 900px)}
.u-section-7 .u-text-2 {width: 540px; margin-right: calc(((100% - 1140px) / 2) + -300px); margin-left: calc(((100% - 1140px) / 2) + 900px)}
.u-section-7 .u-btn-1 {margin-left: 354px} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-7 .u-btn-1 {margin-right: calc(((100% - 340px) / 2) + 50px); margin-left: calc(((100% - 340px) / 2))} }